[Unit]
Description=Forgejo via Rootless Sockets (VCS)
Requires=forgejo.socket
After=forgejo.socket

[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:11-rootless
AutoUpdate=registry
UserNS=keep-id:uid=1002,gid=1002
PodmanArgs=--preserve-fds=2

Volume=forgejo-conf.volume:/var/lib/gitea:Z,U
Volume=forgejo-data.volume:/data:Z,U
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro

AddCapability=CAP_NET_BIND_SERVICE
Environment=ENABLE_PUSH_CREATE_USER=true
Environment=SSH_CREATE_AUTHORIZED_KEYS_FILE=false
Environment=PROTOCOL=http
Environment=SSH_PORT=3022
Environment=SSH_DOMAIN=forge.jackturk.dev
Environment=ROOT_URL=https://forge.jackturk.dev

[Service]
Restart=on-failure
Type=notify
NotifyAccess=main

[Install]
WantedBy=default.target