[Unit]
Description=Forgejo Container (VCS)

[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:13-rootless
UserNS=keep-id:uid=1002,gid=1002

EnvironmentFile=%h/.config/forgejo/env

PublishPort=3000:3000
PublishPort=3022:3022

Volume=forgejo-conf.volume:/var/lib/gitea:Z,U
Volume=forgejo-data.volume:/data:Z,U
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=on-failure
