[Unit]
Description=Forgejo Container (VCS)

[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:13-rootless
UserNS=keep-id:uid=1002,gid=1002

EnvironmentFile=%h/.config/forgejo/env

PublishPort=3000:3000
PublishPort=3022:3022

Volume=%h/.config/forgejo/forgejo-data:/var/lib/gitea:Z,U
Volume=%h/.config/forgejo/forgejo-conf:/etc/gitea:Z,U
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
