{
	# socket‑activation: fd3=80/tcp, fd4=443/tcp, fd5=443/udp, fd6=admin
	debug
	admin fd/6
}

http://vpn.jackturk.dev http://forge.jackturk.dev http://vault.jackturk.dev {
	bind fd/3 {
		protocols h1
	}
	redir https://{host}{uri} permanent
}

https://vpn.jackturk.dev https://forge.jackturk.dev https://vault.jackturk.dev {
	bind fd/4 {
		protocols h1 h2
	}
	tls {
		issuer acme {
			disable_tlsalpn_challenge
		}
	}
	encode gzip

	# 1) Preflight matcher
	@preflight {
		method OPTIONS
		path /login* /api/* /serverinfo
	}

	# 2) For any preflight, remove ETag & disable caching
	header @preflight -ETag
	header @preflight Cache-Control "no-store, no-cache"

	# 3) Now respond 204 every time
	respond @preflight 204

	@vpn host vpn.jackturk.dev
	handle @vpn {
		reverse_proxy /* host.containers.internal:51819 {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}

	@vault host vault.jackturk.dev
	handle @vault {
		reverse_proxy /* host.containers.internal:8080 {
			header_up Host {host}
			header_up X-Real-IP {remote}
		}
	}

	@forge host forge.jackturk.dev
	handle @forge {
		reverse_proxy host.containers.internal:3000
	}
}
