[Unit]
Description=Rootless Reverse Proxy via Caddy
Requires=caddy.socket
After=wireguard.service forgejo.service caddy.socket

[Container]
ContainerName=caddy
Image=docker.io/caddy:latest
Network=caddy-internal.network
Notify=true
Volume=/home/podman/lab_configs/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=caddy-config:/config:Z
Volume=caddy-data:/data:Z
Exec=caddy run --config /etc/caddy/Caddyfile --adapter caddyfile

[Install]
WantedBy=default.target