http://vpn.jackturk.dev {
    redir 51821{uri} 308
}

vpn.jackturk.dev {
    reverse_proxy 51821
    encode gzip
}

http://forgejo.jackturk.dev {
    redir 3000{uri} 308
}

forgejo.jackturk.dev {
    reverse_proxy 3000
    encode gzip
}