[Unit]
Description=Caddy Socket Activation

[Socket]
ListenStream=80
ListenStream=443
ListenDatagram=443
ListenStream=%t/caddy.sock
SocketMode=0600
ReusePort=true

[Install]
WantedBy=sockets.target