[Unit]

Description=Vaultwarden Container
After=network-online.target

[Container]
ContainerName=vaultwarden
AutoUpdate=registry
Image=ghcr.io/dani-garcia/vaultwarden:latest
PublishPort=8080:8080
Exec=/start.sh
EnvironmentFile=%h/.config/vault/env
Volume=%h/.config/vault/data:/data:Z
Secret=vw-admin-token,type=env,target=ADMIN_TOKEN
Environment=ROCKET_PORT=8080
EnvironmentFile=%h/.config/vault/env

[Install]
WantedBy=default.target