[Unit]
Description=Forgejo via Rootless Sockets (VCS)
Requires=forgejo.socket
After=forgejo.socket

[Container]
ContainerName=forgejo
Environment=USER_UID=1001
Environment=USER_GID=1001
Image=codeberg.org/forgejo/forgejo:11
Network=none
Volume=forgejo-data:/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target