[Unit]
Description=Forgejo via Rootless Sockets (VCS)
Requires=forgejo.socket
After=forgejo.socket

[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:11-rootless
Network=forgejo-internal.network
AutoUpdate=registry
UserNS=keep-id:uid=1002,gid=1002
PodmanArgs=--preserve-fds=1

Volume=forgejo-conf.volume:/var/lib/gitea:Z,U
Volume=forgejo-data.volume:/data:Z,U
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro

AddCapability=CAP_NET_BIND_SERVICE
Environment=ENABLE_PUSH_CREATE_USER=true
Environment=SSH_CREATE_AUTHORIZED_KEYS_FILE=false
Environment=PROTOCOL=http
Environment=SSH_PORT=22
Environment=SSH_DOMAIN=forge.jackturk.dev
Environment=ROOT_URL=https://forge.jackturk.dev

HealthCmd=[[ "$(curl --silent --insecure --output /dev/null --write-out \
          "%{http_code}" http://127.0.0.1:3000/api/healthz)" == '200' ]]
HealthInterval=15s
HealthTimeout=1s
HealthRetries=3
HealthOnFailure=kill
Notify=healthy

[Service]
Restart=on-failure
Type=notify
NotifyAccess=main

[Install]
WantedBy=default.target