[Unit]
Description=Forgejo via Rootless Sockets (VCS)
Requires=forgejo.socket
After=forgejo.socket

[Container]
ContainerName=forgejo
Image=codeberg.org/forgejo/forgejo:11-rootless
AddCapability=CAP_SYS_RESOURCE
PodmanArgs=--replace --sdnotify=conmon --log-level=debug
Network=none
UserNS=keep-id
Volume=forgejo-config:/var/lib/gitea/custom:Z,U
Volume=forgejo-repo-config:/var/lib/gitea:Z,U
Volume=/etc/timezone:/etc/timezone:ro
Volume=/etc/localtime:/etc/localtime:ro

Environment=ENABLE_PUSH_CREATE_USER=true
Environment=DISABLE_SSH=false
Environment=START_SSH_SERVER=true
Environment=ENABLE_BASIC_AUTH=true
Environment=SSH_PORT=3022
Environment=SSH_DOMAIN=forge.jackturk.dev
Environment=ROOT_URL=https://forge.jackturk.dev
Environment=REVERSE_PROXY_TRUSTED_PROXIES=0.0.0.0/0,::/0

[Service]
Restart=on-failure
Type=notify
NotifyAccess=main

[Install]
WantedBy=default.target