[Unit]
Description=Portfolio Container
Requires=portfolio.socket
After=portfolio.socket

[Container]
Image=ghcr.io/jack-turk-5/portfolio-app:latest
ContainerName=portfolio
AutoUpdate=registry
PodmanArgs=--preserve-fds=1
Secret=sendgrid-api-key
Secret=sender-email
Secret=destination-email
Environment="CORS_ORIGINS=https://jackturk.dev,https://www.jackturk.dev"
Volume=%h/.config/portfolio/data:/app/data:Z
Notify=true

[Service]
Restart=always