[Unit]
Description=RustDesk Socket (Rootless)

[Socket]
ListenStream=[::]:21117
BindIPv6Only=both
Service=rustdesk-hbbr.service

[Install]
WantedBy=sockets.target