[Unit]
Description=RustDesk Socket for hbbs (Rootless)

[Socket]
ListenStream=[::]:21115
ListenStream=[::]:21116
ListenDatagram=[::]:21116
BindIPv6Only=both
Service=rustdesk-hbbs.service

[Install]
WantedBy=sockets.target