[Unit]
Description=RustDesk via Rootless Sockets
Requires=rustdesk-hbbs.socket rustdesk-hbbr.service
After=rustdesk-hbbs.socket rustdesk-hbbr.service

[Container]
AutoUpdate=registry
Image=ghcr.io/rustdesk/rustdesk-server:latest
Exec=hbbs
Volume=rustdesk-data:/root
Network=rustdesk.network
# May not need: Environment=ALWAYS_USE_RELAY=Y

[Install]
WantedBy=default.target