[Unit]
Description=RustDesk via Rootless Sockets
Requires=rustdesk-hbbr.socket
After=rustdesk-hbbr.socket

[Container]
AutoUpdate=registry
Image=ghcr.io/rustdesk/rustdesk-server:latest
Exec=hbbr
Volume=rustdesk-data:/root
Network=rustdesk.network

[Install]
WantedBy=default.target