[Unit]
Description=Vaultwarden Container
After=network-online.target

[Container]
AutoUpdate=registry
Image=ghcr.io/dani-garcia/vaultwarden:latest
PublishPort=8080:8080
Exec=/start.sh
Volume=vault-data:/data/
Environment=ROCKET_PORT=8080
EnvironmentFile=%h/.config/vault/env

[Install]
WantedBy=default.target