[Unit]
Description=Vaultwarden Socket (Rootless)

[Socket]
ListenStream=[::]:8080
BindIPv6Only=both
NoDelay=true
Service=vault.service

[Install]
WantedBy=sockets.target