[Unit]
Description=Vaultwarden Container
After=network-online.target

[Container]
AutoUpdate=registry
Image=ghcr.io/dani-garcia/vaultwarden:latest
PublishPort=8080:8080
Exec=/start.sh
Volume=vault-data:/data/
Environment=LOG_LEVEL=debug
Environment=DOMAIN=https://vault.jackturk.dev
Environment=ROCKET_PORT=8080

[Install]
WantedBy=default.target