---
- name: Create forgejo config directory
  ansible.builtin.file:
    path: "~/.config/forgejo"
    state: directory
    mode: '0755'

- name: Copy Forgejo env file
  ansible.builtin.copy:
    src: "env"
    dest: "~/.config/forgejo/env"
    mode: '0600'

- name: Copy Forgejo container and volume units to user quadlet directory
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "~/.config/containers/systemd/"
    mode: '0644'
  loop:
    - forgejo.container
    - forgejo-data.volume
    - forgejo-conf.volume

- name: Reload systemd user daemon to detect new units
  ansible.builtin.systemd:
    scope: user
    daemon_reload: true

- name: Enable and start Forgejo service for user
  ansible.builtin.systemd:
    scope: user
    name: forgejo.service
    enabled: true
    state: started
