---
- name: Copy Forgejo socket unit to user systemd directory
  ansible.builtin.copy:
    src: "forgejo.socket"
    dest: "~/.config/systemd/user/"

- name: Copy Forgejo container and volume units to user quadlet directory
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "~/.config/containers/systemd/"
  loop:
    - forgejo.container
    - forgejo-data.volume
    - forgejo-conf.volume

- name: Reload systemd user daemon to detect new units
  ansible.builtin.systemd:
    scope: user
    daemon_reload: true

- name: Enable and start Forgejo socket for user
  ansible.builtin.systemd:
    scope: user
    name: forgejo.socket
    enabled: true
    state: started
