---
- name: Create forgejo config directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "~/.config/forgejo"
    - "~/.config/forgejo/forgejo-data"
    - "~/.config/forgejo/forgejo-conf"

- name: Copy Forgejo env file
  ansible.builtin.copy:
    src: "env"
    dest: "~/.config/forgejo/env"
    mode: '0600'

- name: Copy Forgejo container unit to user quadlet directory
  ansible.builtin.copy:
    src: "forgejo.container"
    dest: "~/.config/containers/systemd/"
    mode: '0644'

- name: Reload systemd user daemon to detect new units
  ansible.builtin.systemd:
    scope: user
    daemon_reload: true

- name: Enable and start Forgejo service for user
  ansible.builtin.systemd:
    scope: user
    name: forgejo.service
    enabled: true
    state: started
