---
# Play 1: System Configuration (run as root)
- name: Configure base system and root user
  hosts: servers
  become: true
  vars:
    podman_user: podman
    forgejo_user: git
  roles:
    - role: system_setup
    - role: ufw

# Play 2: Podman User Configuration (run as podman)
- name: Configure podman user and services
  hosts: servers
  become: true
  become_user: "{{ podman_user }}"
  vars:
    podman_user: podman
    vaultwarden_backups:
      - name: vaultwarden
        source_dirs:
          - "{{ ansible_facts['user_dir'] }}/.config/vault/data"
        local_backup_dir: "{{ ansible_facts['user_dir'] }}/vaultwarden_backups"
        container_name: vault
        rclone_remote: "gdrive"
        remote_dir: "Backups/Vaultwarden"
        local_retention_days: 7

  roles:
    - role: zsh
    - role: podman
    - role: portfolio
    - role: wireguard-pro
    - role: vault
    - role: caddy
  tasks:
    - name: "Include backup role for podman user"
      include_role:
        name: backup
      loop: "{{ vaultwarden_backups }}"
      loop_control:
        loop_var: backup_item

# Play 3: Forgejo User Configuration (run as git)
- name: Configure forgejo user and service
  hosts: servers
  become: true
  become_user: "{{ forgejo_user }}"
  vars:
    forgejo_user: git
    forgejo_backups:
      - name: forgejo
        source_dirs:
          - "{{ ansible_facts['user_dir'] }}/.config/forgejo/forgejo-data"
          - "{{ ansible_facts['user_dir'] }}/.config/forgejo/forgejo-conf"
        local_backup_dir: "{{ ansible_facts['user_dir'] }}/forgejo_backups"
        container_name: forgejo
        rclone_remote: "gdrive"
        remote_dir: "Backups/Forgejo"
        local_retention_days: 7
  roles:
    - role: forgejo
  tasks:
    - name: "Include backup role for forgejo user"
      include_role:
        name: backup
      loop: "{{ forgejo_backups }}"
      loop_control:
        loop_var: backup_item

- name: Reboot server
  hosts: servers
  become: true
  tasks:
    - name: Reboot the server
      ansible.builtin.reboot:
        msg: "Rebooting server after deployment"
