[Unit]
Description=BoringTun VPN (userspace WireGuard)
Requires=boringtun.socket
After=boringtun.socket

[Container]
Image=localhost/wireguard/boringtun:latest
ContainerName=boringtun
Volume=boringtun-config:/etc/wireguard:Z
Network=none
AddDevice=/dev/net/tun:/dev/net/tun:rwm
AddCapability=NET_ADMIN NET_RAW

[Install]
WantedBy=default.target