[Unit]
Description=Boringtun Socket for UDP (Rootless)

[Socket]
ListenDatagram=[::]:51820
BindIPv6Only=both
SocketMode=0600
Service=boringtun.service

[Install]
WantedBy=sockets.target