[Unit]
Description=BoringTun VPN (userspace WireGuard)
After=boringtun.socket
Wants=boringtun.socket

[Container]
Image=boringtun.build
ContainerName=boringtun
Volume=boringtun-config:/etc/wireguard:Z
Network=none
AddDevice=/dev/net/tun:/dev/net/tun:rwm
AddCapability=NET_ADMIN NET_RAW

[Install]
WantedBy=default.target