[Unit]
Description=Apply iptables firewall rules for Wireguard VPN
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/iptables-firewall.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target