[Unit]
Description=Create Podman WireGuard Bridge Network
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/podman network create --driver bridge --subnet 10.8.0.0/24 wireguard-network
RemainAfterExit=yes

[Install]
WantedBy=default.target