[Unit]
Description=UDP Forwarder for WireGuard Container
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/socat UDP4-RECVFROM:51820,fork UDP4-SENDTO:10.0.2.2:51820
Restart=always
User=nobody
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target