[Unit]
Description=WGDashboard Web UI for WireGuard
Wants=wg-dashboard.socket
After=boringtun.service wg-dashboard.socket

[Container]
Image=localhost/wireguard/dashboard:latest
ContainerName=wireguard-dashboard
Volume=boringtun-config:/etc/wireguard:Z
Volume=dashboard-data:/data:Z
Network=wg-dashboard.network
AddCapability=NET_ADMIN

[Install]
WantedBy=default.target