[Unit]
Description=WG Dashboard TCP Socket (Rootless)

[Socket]
ListenStream=[::]:10086
BindIPv6Only=both
SocketMode=0600
Service=wg-dashboard.service

[Install]
WantedBy=sockets.target