[Unit]
Description=WireGuard UDP Socket (rootless)

[Socket]
ListenDatagram=51820
Multicast=false
Service=wireguard.service

[Install]
WantedBy=sockets.target