[Unit]
Wants=network-online.target wireguard-network.service
After=iptables-firewall.service network-online.target wireguard-network.service

[Container]
ContainerName=wireguard
Image=ghcr.io/wg-easy/wg-easy:latest
AutoUpdate=registry
Network=wireguard-network
Volume=/home/podman/.config/containers/volumes/wireguard:/etc/wireguard:Z
PublishPort=51820:51820/udp
PublishPort=51821:51821/tcp

AddCapability=NET_ADMIN
AddCapability=NET_RAW
DropCapability=MKNOD
DropCapability=AUDIT_WRITE
Sysctl=net.ipv4.ip_forward=1
Sysctl=net.ipv4.conf.all.src_valid_mark=1

Environment=WG_HOST=vpn.jackturk.dev
Environment=WG_ALLOWED_IPS=0.0.0.0/0
Environment=WG_PERSISTENT_KEEPALIVE=25
Environment=WG_DEFAULT_DNS=8.8.8.8,8.8.4.4
# Remove once HTTPS configured
Environment=INSECURE=true

Environment=UI_TRAFFIC_STATS=true
Environment=UI_CHART_TYPE=2

[Service]
Restart=always
EnvironmentFile=/home/podman/.config/containers/systemd/env/wg.env

[Install]
WantedBy=default.target