[Unit]
Description=WireGuard Socket (Rootless)

[Socket]
ListenDatagram=[::]:51820
BindIPv6Only=both
Multicast=false
Service=wireguard.service

[Install]
WantedBy=sockets.target